@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

@theme {
  --font-display: "Satoshi", "sans-serif";

  --color-primary-blue: #2563eb;
  --color-primary-black: #111827;
  --color-secondary-black: #353849;
  --color-black: #111827;
  --color-gray: #4b5563;
  --color-secondary-gray: #dfe1e6;

  --color-background: #e8f0fd;
  --color-foreground: #000000;

  --text-xs: 0.75rem; /* 12px*/
  --text-md: 0.875rem; /* 14px*/
  --text-lg: 1.25rem; /* 20px*/
  --text-xl: 2rem; /* 32px*/

  --radius-2xs: 0.5rem; /* 8px*/
  --radius-xs: 0.75rem;

  --shadow-focus: 0 0 0 2px #2563eb40;
}

body {
  color: var(--foreground);
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

.shine {
  background: linear-gradient(
    90deg,
    #2563eb 0%,
    #2563eb 30%,
    #c2d5ff 50%,
    #153885 70%,
    #2563eb 100%
  );
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 3s linear infinite;
}
